.form-login-admin {
  display: flex;
  flex-direction: column;
}

.form-login-admin input {
  height: 35px;
  margin-top: 10px;
  padding-left: 10px;
  background-color: aliceblue;
  border: 0px;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  border: 1px dashed rgba(128, 128, 128, 0.274);
}
.dv-p-register-already-container-txt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dv-p-register-already-container-txt p {
  margin-left: 10px;
  font-weight: 500;
  color: rgb(53, 82, 211);
  cursor: pointer;
}

.cls-register-login-txt-above-frm {
  color: rgb(53, 82, 211);
}
